<h1>Identify Plants</h1>
  <div id="new-search">
    <%= form_tag('/plants_search', remote: true, method: 'get') do %>
    <%= link_to "Find Plant", leaves_search_path, remote: true, id: "new-search-btn" %>
    <% end %>
  </div>
  <div id="leaves-search"></div>
  <div id="cones-search"></div>
  <div id="bark-search"></div>
  <div id="branches-search"></div>
<br>

<div class="plant-plants">
  <% if @plant %>
  <div class="plant">
    <a class="plant-item" href="<%= plant_path(@plant[0].id) %>">
      <div class="plant-caption">
        <em><%= @plant[0].name %></em> ~ <%= @plant[0].scientific_name %></div>
      </a>
    </div>
    <% end %>
  </div>

  <br>

<h1>Plants</h1>

<div class="plant-plants">
  <% @plants.each do |plant| %>
  <div class="plant">
    <a class="plant-item" href="<%= plant_path(plant) %>">
      <div class="plant-caption">
        <em><%= plant.name %></em> ~ <%= plant.scientific_name %></div>
    </a>
  </div>
  <% end %>
</div>

<br>

<%= form_tag('/name_search', method: 'get') do %>
  <%= label_tag(:name, "Search by Name type") %>
  <br>
  <%= text_field_tag(:name) %>
  <br>
  <%= submit_tag("Name Search") %>
<% end %>
