<h1><%= @plant.name %></h1>
<div class="container">
    <h3><%= @plant.scientific_name %></h3>
    <p><%= @plant.general %></p>
    <p><%= @plant.ecology %></p>
    <p><%= @plant.plant_type %></p>
    <p><%= @plant.leaves %></p>
    <p><%= @plant.branches %></p>
    <p><%= @plant.cones %></p>
    <p><%= @plant.bark %></p>
</div>
