<h1><%= @plant.name %></h1>
<div class="container">
    <h3>Scientific Name: <%= @plant.scientific_name %></h3>
    <p>General Info: <%= @plant.general %></p>
    <p>Ecology: <%= @plant.ecology %></p>
    <p>Type: <%= @plant.plant_type %></p>
    <p>Leaves: <%= @plant.leaves %></p>
    <p>Branches: <%= @plant.branches %></p>
    <p>Cones: <%= @plant.cones %></p>
    <p>Bark: <%= @plant.bark %></p>
</div>
